.taskText {
  align-items: center;
  width: 100%;
}

.taskCheckbox {
  height: 14px;
  width: 14px;
  accent-color: var(--color-cta);
}

.taskInput {
  font-size: 1rem;
  border: none;
  background: transparent;
  resize: none;
  width: 100%;
}

.taskChecked {
  text-decoration: line-through;
  color: var(--color-txt-strikethrough);
}

.taskText {
  gap: 0.3em;
}
