.btn {
  background: none;
  border: none;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-txt-primary);
}

.btnPrimary {
  padding: 0.7em 1em;
  margin-top: 0.2em;
  background: var(--color-cta);
  box-shadow: var(--bx-shadow);
}

.btnPrimary:hover {
  opacity: 0.9;
  background: var(--color-cta-hover);
}
