.filter {
  margin-top: 1em;
  position: relative;
  gap: .5em;
}

.filterOptions {
  border: 3px solid var(--color-filter-bg);
  align-items: start;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: var(--radius);
}

.filterOpt {
  gap: 0.5em;
  align-items: center;
}

.filterBtn {
  justify-content: end;
  padding: .5em;
}
