:root {
  --font-primary: "Noto Sans JP", sans-serif;
  --radius: 4px;
  --color-light: #fff;
  --color-cta: hsl(47, 100%, 62%);
  --color-cta-hover: hsl(47, 100%, 52%);
  --color-card-bg: #eee;
  --color-txt-primary: #2c2c2c;
  --color-txt-strikethrough: #aaa;
}

* {
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: var(--font-primary);
}

body {
  color: var(--color-txt-primary);
  min-height: 100vh;
}

p {
  line-height: 1.4;
}

svg {
  height: 14px;
  width: 14px;
}

.container {
  padding: 5em 3%;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .container {
    padding: 5em 10%;
  }
}

/* Utility  */
.flex-col {
  display: flex;
  flex-flow: column;
}

.flex {
  display: flex;
}

/* Task List  */
.task-list {
  margin-top: 2em;
}
